<!-- <span ><img class="gif" src="../../assets/angry-cat.gif" height="60px" width="100px" /></span> -->
<div class="background">
  <div class="d-flex align-items-center flex-column display">
    <div
      class="input-group mb-3"
      [className]="error.invalid ? 'error' : 'output'"
    >
      {{ value }}
    </div>
    <p class="error-message" *ngIf="error.invalid">{{ error.message }}</p>
    <br />

    <app-calculator-button-group
      *ngFor="let item of buttonList"
      [buttonList]="item"
    ></app-calculator-button-group>
  </div>
</div>
