<!-- <span ><img class="gif" src="../../assets/angry-cat.gif" height="60px" width="100px" /></span> -->
<div class="background">
  <div class="d-flex align-items-center flex-column display">
    <div class="input-group mb-3 output">{{ value }}</div>
    <div class="btn-group mt-2" role="group" aria-label="Basic example">
      <app-calculator-button [value]="'7'"></app-calculator-button>
      <app-calculator-button [value]="'8'"></app-calculator-button>
      <app-calculator-button [value]="'9'"></app-calculator-button>
    </div>
    <div class="btn-group mt-2" role="group" aria-label="Basic example">
      <app-calculator-button [value]="'4'"></app-calculator-button>
      <app-calculator-button [value]="'5'"></app-calculator-button>
      <app-calculator-button [value]="'6'"></app-calculator-button>
    </div>
    <div class="btn-group mt-2" role="group" aria-label="Basic example">
      <app-calculator-button [value]="'1'"></app-calculator-button>
      <app-calculator-button [value]="'2'"></app-calculator-button>
      <app-calculator-button [value]="'3'"></app-calculator-button>
    </div>
    <div class="btn-group mt-2" role="group" aria-label="Basic example">
      <app-calculator-button [value]="'0'"></app-calculator-button>
      <app-calculator-button [value]="'.'"></app-calculator-button>
      <app-calculator-button [value]="'='"></app-calculator-button>
    </div>
  </div>
</div>
